body {
  background-image: url(./back.jpg);
  background-size: contain;
  display: grid;
  grid-template-areas: 'g1'
                        'b'
                        'res';
  grid-template-rows: 7fr 1.5fr 2fr;
  grid-gap: 1vw;
  margin-top: 2vh;
}

#grid1 {
  grid-area: g1;
}

.button {
  grid-area: b;
  justify-self: center;
  align-self: center;
}

.resultExample {
  grid-area: res;
  justify-self: center;
  align-self: center;
}

.primer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 7vh;
}

.inline {
  display: grid;
  grid-template-columns: 10fr 1fr 3fr;
  justify-items: center;
}

.num1, .num2 {
  font-size: 7vw;
  font-weight: bold;
}

.result1, .result2 {
  font-size: 5vw;
  font-weight: bold;
  align-self: center;
}

.input1, .input2 {
  width: 7vw;
  height: 6vw;
  font-size: 6vw;
  font-weight: bold;
  text-align: center;
}

.button {
  background-color: cyan;
  border: .5em solid cyan;
  border-radius: 1em;
  width: 40vw;
  height: 10vw;
  font-size: 5vw;
}

.ball {
  color: blue;
  font-size: 9vw;
  font-family: cursive;
  font-weight: bold;
}

.time {
  color: darkviolet;
  font-size: 2.5vw;
  font-family: cursive;
  font-weight: bold;
}

#time {
  text-align: center;
}
