body {
    background-image: url(./back.jpg);
    background-size: cover;
    text-align: center;
}

#task {
    background-color: aqua;
    border: 4px solid chocolate;
    border-radius: 40px;
    padding: 20px;
    font-size: 40px;
    width: 750px;
    height: 200px;
    margin: 60px auto;
    text-align: center;
    color: darkblue;
}

#result {
    font-size: 52px;
    font-weight: bold;
    font-family: cursive;
    padding: 20px;
}

#answer {
    font-size: 52px;
    padding: 20px;
    color: darkviolet;
    font-weight: bold;
}

#button {
    font-size: 32px;
    background-color: aqua;
    border: 2px solid chocolate;
    border-radius: 5px;
    text-decoration: none;
}

#input {
    font-size: 42px;
    color: crimson;
    text-align: center;
    width: 54px;
    height: 42px;
    margin: 30px;
}

.inline div {
    display: inline;
}

table {
    position: fixed;
    font-size: 40px;
    left: 120px;
    top: 105px;
    font-weight: bold;
    background-color: white;
}

th {
    color: green;
    width: 40px;
}

td {
    color: red;
    width: 40px;
}