body {
 
  background-color: burlywood;
 
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.nameD, .nameU {
  font-size: 100px;
  color: white;
  text-decoration: none;
  padding: 20px;
 
}
