body {
  background-image: url(./back.jpg);
  background-size: contain;
  display: grid;
  grid-template-rows: 45vh 45vh;
}

a {
  color: red;
  font-family: Elephant;
  text-decoration: none;
  font-size: 5em;
  border: 1px solid red;
  border-radius: 5vh;
  padding: 5vh;
  background-color: white;
}

div {
  align-self: center;
  justify-self: center;
}
