#page {
  background-image: url(./back.jpg);
  background-size: cover;
  text-align: center;
  display: grid;
  grid-template-areas:
          'ch ch ch'
          'p w n';
  grid-template-rows: 30vh 60vh;
  grid-gap: 1em;
}

#changeLetters {
  grid-area: ch;
}

#word {
  grid-area: w;
  width: 75vw;
  max-height: 40vh;
  color: deeppink;
  font-weight: bold;
  transition: all .5s;
  align-self: unset;
}

#prevBtn, #nextBtn {
  border: 0.1em solid crimson;
  font-size: 2vw;
  background-color: cyan;
  border-radius: 0.25em;
  margin: 2em;
  width: auto;
  height: 15vh;
  align-self: end;
}8

#prevBtn {
  grid-area: p;
}

#nextBtn {
  grid-area: n;
}

.changeLettersButton {
  margin: 0.1em;
  font-size: 1.2em;
  background-color: aqua;
  border-radius: 0.25em;
}

h2 {
  color: crimson;
}
