#page {
  background-image: url(./back.jpg);
  background-size: cover;
  text-align: center;
  display: grid;
  grid-template-areas:
          'ch ch ch'
          'w w w' 
          'p . n';
  grid-template-rows: 25vh 50vh 12vh;
  grid-gap: 1em;
  margin: 1em;
}

#changeLetters {
  grid-area: ch;
  margin: 0.5 em;
}

#word {
  align-self: end;
  grid-area: w;
  width: 75vw;
  font-size: 75vw;
  color: deeppink;
  font-weight: bold;
  transition: all .5s;
}

#prevBtn, #nextBtn {
  border: 0.1em solid crimson;
  width: 11em;
  height: 7em;
  background-color: aqua;
  border-radius: 2em;
}

#prevBtn {
  grid-area: p;
}

#nextBtn {
  grid-area: n;
}

.changeLettersButton {
  margin: 0.1em;
  font-size: 1.2em;
  background-color: aqua;
  border-radius: 0.25em;
}

h2 {
  color: crimson;
}
